MONGODB_USERNAME=admin
MONGODB_PASSWORD=password
MONGODB_DB_NAME=legaldoc
VITE_API_BASE_URL=http://localhost:8000/api
LANGGRAPH_LLM_PROVIDER=anthropic
ANTHROPIC_API_KEY=
OPENROUTER_API_KEY=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=LegalDoc
QDRANT_HOST=qdrant
QDRANT_PORT=6333
GOOGLE_API_KEY=
CLICKHOUSE_PASSWORD=Passw@rd
OTEL_EXPORTER_ENDPOINT=http://otel-collector:4317
VITE_OTEL_EXPORTER_URL=http://localhost:4318
