MONGODB_USERNAME=admin
MONGODB_PASSWORD=password
MONGODB_DB_NAME=legaldoc
VITE_API_BASE_URL=http://localhost:8000/api
LANGGRAPH_LLM_PROVIDER=anthropic
ANTHROPIC_API_KEY=
OPENROUTER_API_KEY=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=LegalDoc
